/* MailCatcher CSS - converted from SASS */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main styles */
html, body {
  width: 100%;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #eee;
  color: #000;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}

body.iframe {
  background: #fff;
}

body.iframe h1 {
  font-size: 1.3em;
  margin: 12px;
}

body.iframe p,
body.iframe form {
  margin: 0 12px 12px 12px;
  line-height: 1.25;
}

body.iframe .loading {
  color: #666;
  margin-left: 0.5em;
}

/* Button styles */
.button {
  padding: .5em 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: linear-gradient(to bottom, #f4f4f4, #ececec);
  background-color: #ececec;
  color: #666;
  text-shadow: 1px 1px 0 #fff;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border-color: #999;
  border-bottom-color: #666;
  background: linear-gradient(to bottom, #eee, #ddd);
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

.button:active,
.button.active {
  border-color: #666;
  border-bottom-color: #999;
  background: linear-gradient(to bottom, #ddd, #eee);
  background-color: #eee;
  color: #333;
  text-decoration: none;
  text-shadow: -1px -1px 0 #eee;
}

/* Header */
body > header {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

body > header::after {
  content: "";
  display: table;
  clear: both;
}

body > header h1 {
  float: left;
  margin-left: 6px;
  padding: 6px;
  padding-left: 30px;
  background: url(logo.png) left center no-repeat;
  background-size: 24px 24px;
  font-size: 18px;
  font-weight: bold;
}

body > header h1 a {
  color: black;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  transition: 0.1s ease;
}

body > header h1 a:hover {
  color: #4183C4;
}

body > header nav {
  border-left: 1px solid #ccc;
}

body > header nav.project {
  float: left;
}

body > header nav.app {
  float: right;
}

body > header nav li {
  display: block;
  float: left;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
}

body > header nav li input {
  margin: 6px;
}

body > header nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  background: linear-gradient(to bottom, #f4f4f4, #ececec);
  background-color: #ececec;
  color: #666;
  text-shadow: 1px 1px 0 #fff;
}

body > header nav li a:hover,
body > header nav li a:focus {
  background: linear-gradient(to bottom, #eee, #ddd);
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

body > header nav li a:active,
body > header nav li a.active {
  background: linear-gradient(to bottom, #ddd, #eee);
  background-color: #eee;
  color: #333;
  text-decoration: none;
  text-shadow: -1px -1px 0 #eee;
}

/* Messages table */
#messages {
  width: 100%;
  height: 10em;
  min-height: 3em;
  overflow: auto;
  background: #fff;
  border-top: 1px solid #fff;
}

#messages::after {
  content: "";
  display: table;
  clear: both;
}

#messages table {
  width: 100%;
}

#messages thead tr {
  background: #eee;
  color: #333;
}

#messages thead th {
  padding: .25em;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px 0 white;
}

#messages tbody tr {
  cursor: pointer;
  transition: 0.1s ease;
  color: #333;
}

#messages tbody tr:hover {
  color: #000;
}

#messages tbody tr:nth-child(even) {
  background: #f0f0f0;
}

#messages tbody tr.selected {
  background: Highlight;
  color: HighlightText;
}

#messages tbody td {
  padding: .25em;
}

#messages tbody td.blank {
  color: #666;
  font-style: italic;
}

/* Resizer */
#resizer {
  padding-bottom: 5px;
  cursor: ns-resize;
}

#resizer .ruler {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

/* Message view */
#message {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#message > header::after {
  content: "";
  display: table;
  clear: both;
}

#message .metadata {
  padding: .5em;
  padding-top: 0;
  overflow: hidden;
}

#message .metadata::after {
  content: "";
  display: table;
  clear: both;
}

#message .metadata dt,
#message .metadata dd {
  padding: .25em;
}

#message .metadata dt {
  float: left;
  clear: left;
  width: 8em;
  margin-right: .5em;
  text-align: right;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px 0 white;
}

#message .metadata dd.subject {
  font-weight: bold;
}

#message .metadata .attachments {
  display: none;
}

#message .metadata .attachments ul {
  display: inline;
}

#message .metadata .attachments li {
  display: inline-block;
  margin-right: .5em;
}

#message .views ul {
  padding: 0 .5em;
  border-bottom: 1px solid #ccc;
}

#message .views .tab {
  display: inline-block;
}

#message .views .tab a {
  display: inline-block;
  padding: .5em;
  border: 1px solid #ccc;
  background: #ddd;
  color: #333;
  border-width: 1px 1px 0 1px;
  cursor: pointer;
  text-shadow: 0 1px 0 #eeeeee;
  text-decoration: none;
}

#message .views .tab:not(.selected):hover a {
  background-color: #eee;
}

#message .views .tab.selected a {
  background: #fff;
  color: #000;
  height: 13px;
  box-shadow: 1px 1px 0 #ccc;
  margin-bottom: -2px;
  cursor: default;
}

#message .views .action {
  display: inline-block;
  float: right;
  margin: 0 .25em;
}

/* Fractal analysis */
.fractal-analysis {
  margin: 12px 0;
}

.fractal-analysis .report-intro {
  font-weight: bold;
}

.fractal-analysis .report-intro.valid {
  color: #090;
}

.fractal-analysis .report-intro.invalid {
  color: #c33;
}

.fractal-analysis code {
  font-family: Monaco, "Courier New", Courier, monospace;
  background-color: #f8f8ff;
  color: #444;
  padding: 0 .2em;
  border: 1px solid #dedede;
}

.fractal-analysis ul {
  margin: 1em 0 1em 1em;
  list-style-type: square;
}

.fractal-analysis ol {
  margin: 1em 0 1em 2em;
  list-style-type: decimal;
}

.fractal-analysis ul li,
.fractal-analysis ol li {
  display: list-item;
  margin: .5em 0 .5em 1em;
}

.fractal-analysis .error-intro strong {
  font-weight: bold;
}

.fractal-analysis .unsupported-clients dt {
  padding-left: 1em;
}

.fractal-analysis .unsupported-clients dd {
  padding-left: 2em;
}

.fractal-analysis .unsupported-clients dd ul li {
  display: list-item;
}

/* iFrame */
iframe {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #fff;
  border: none;
}

/* Retina logo */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body > header h1 {
    background-image: url(logo_2x.png);
  }
}

/* No-script overlay */
#noscript-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  cursor: default;
  outline: none;
}

#noscript {
  display: block;
  max-width: 100%;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,.4);
}
